* {
    margin: 0;
    padding: 0;
    font-family: 'YekanBakhHeavy', Arial, Helvetica, sans-serif;
}

.hamburger-icon {
    display: none;
    width: 27px;
}

.header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 21px 0 7px;
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0px;
    z-index: 120;
    transition: all 0.3 ease;
}

.logo {
    margin: 11px 27px;
}

.ul-header {
    display: flex;
    /* align-items: center; */
    list-style: none;
    /* justify-content: space-between;
    flex-direction: row;
    padding-right: 300px; */
    /* font-family: YekanBakhMedium; */
}

.ul-header li {
    font-size: 14px;
    margin: 0px 15px;
}

.ul-header li a {
    text-decoration: none;
    color: #303030;
    cursor: pointer;
}

.ul-header>li:last-child a {
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.6);
    border-radius: 20px;
    padding: 10px 27px;
    margin-right: 20px;
    font-family: YekanBakhBold;
}

.ul-header>li:last-child a:hover {
    background-color: #fbf6d9;
}

.more-menu {
    display: flex;
}

.more-menu img {
    width: 8px;
    margin-right: 8px;
}

.show-hamburger-menu {
    animation: fadeInDown 0.35s forwards;
}

#show-more-menu {
    position: relative;
}

#show-more-menu ul {
    position: absolute;
    top: 0;
    left: -35px;
    background-color: #fff;
    border-top: 5px solid #f8e88b;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 23px;
    list-style: none;
    width: 123px;
    display: none;
}

#show-more-menu li {
    margin: 0;
    padding: 10px 20px;
    font-size: 0.75rem;
    color: black;
}

#show-more-menu li:hover {
    background-color: rgba(232, 239, 254, 0.6);
}

#show-product-menu {
    position: relative;
}

.product-menu {
    position: absolute;
    top: 0;
    left: -135px;
    background-color: #fff;
    display: none;
    justify-content: flex-start;
    width: 372px;
    border-top: 5px solid #f8e88b;
    border-radius: 12px;
    padding-top: 5px;
    margin-top: 23px;
}

.product-menu a p:first-child {
    color: #000;
    font-size: 0.95rem;
}

.product-menu a p:last-child {
    color: #000;
    font-size: 0.7rem;
}

.product-menu a {
    margin: 10px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    font-family: YekanBakhMedium;
    transform: translateY(-100%)
}
 
.cross-icon {
    text-align: left;
    width: 100%;
    padding: 25px 0;
}

.cross-icon img {
    width: 20px;
    margin-left: 30px;
}

.hamburger-menu-items {
    padding: 10px 30px;
}

.hamburger-menu-items ul {
    list-style: none;
}

.hamburger-menu-items li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 3px 0;
}

.hamburger-menu-items div {
    height: 1px;
    background-color: #dfe1e4;
    width: 90%;
    margin: 8px 0;
}

.more-items {
    display: flex;
    background-color: #eee;
    padding: 20px 50px;
    align-items: center;
}

.more-items img {
    width: 15px;
    margin-right: 5px;
}

.more-items a {
    text-decoration: none;
    color: #28457b;
    font-size: 0.85rem;
}

.banner {
    width: 1050px;
    padding: 124px 60px;
    background-image: linear-gradient(135deg, #21254e, #2b4e83);
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.banner-text h3 {
    font-family: YekanBakhHeavy;
    font-size: 2rem;
    color: #fff;
}

.banner-text p {
    color: #fff;
    font-size: 1.15rem;
    margin: 25px 0;
    line-height: 2.5rem;
}

.banner-image img {
    width: 500px;
}

.banner-button {
    margin-top: 60px;
}

.register {
    font-size: 1rem;
    font-family: YekanBakhBold;
    color: #000;
    background-color: #ffd900;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.login {
    font-size: 1rem;
    font-family: YekanBakhBold;
    color: #fff;
    background-color: #435e8a;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.go-down {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 58px;
}

.go-down div {
    background-image: url(../images/arrowbottom.svg);
    width: 164px;
    height: 78px;
}

.go-down img {
    width: 15px;
    position: relative;
    top: -60px;
}

.online-payment {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    width: 1170px;
}

.online-payment img {
    width: 450px;
    height: 480px;
}

.section-text {
    margin: 30px 0;
    width: 530px;
}

.section-text h2 {
    color: #747480;
    font-family: YekanBakhMedium;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 20px 0 5px;
}

.section-text h3{
    color: #303030;
    font-family: YekanBakhHeavy;
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 0 10px;

}

.section-text p{
    color: #303030;
    font-family: YekanBakhMedium;
    text-align: justify;
    line-height: 40px;
    border-bottom: 1px solid #dfe1e4;
    padding-bottom: 20px;
    margin-top: 16px;
}
.section-links {
    margin-top: 40px;
    display: flex;
}
.section-links .first-button{
    font-size: 0.9rem;
    font-family: iranyekanwebmedium;
    color: #000;
    background: #ffd900;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}
.section-links .second-button{
    display: block;
    font-size: 0.9rem;
    font-family: iranyekanwebmedium;
    color: #28457b;
    background-color : rgba(232, 239, 254, 0.7);
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    /* display: flex;
    align-items: center; */
}

.section-links .second-button img{
    width: 18px;
    height: 15px;
    margin-right: 5px;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .header {
        width: 940px;
    }

    .banner {
        width: 900px;
        padding: 60px 40px 120px;
    }

    .banner-image img {
        width: 430px;
    }
    .online-payment {
       width: 940px;
    }
    

}

@media (max-width: 990px) {
    .header {
        width: auto;
        padding: 20px 60px;
    }

    .ul-header li:last-child {
        display: none;
    }

    .logo {
        margin: 0;
    }

    .ul-header list {
        margin: 0 10px
    }

    .banner {
        width: auto;
        padding: 40px 40px 85px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .banner-image img {
        display: none;
    }

    .banner-text {
        text-align: center;
    }

    .banner-text p {
        margin: 5px 0px;
        font-size: 1rem;
    }

    .banner-button {
        margin-top: 40px;
    }
    .online-payment
    {
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    .section-text{
        width: 95%;
    }
}

@media (max-width: 768px) {
    .ul-header {
        display: none;
    }

    .header {
        width: auto;
        padding: 10px 8px;
    }

    .hamburger-icon {
        display: block;
    }

    .banner {
        margin-left: 8px;
        margin-right: 8px;
    }

    .section-text
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .online-payment img {
        width: 460px;
        height: 480px;
    }
}
@media (max-width: 575px)
{
    .banner
    {
        padding: 80px 40px;
    }
    .banner-text h3{
        font-size: 1.2rem;
        text-align: right;

    }
    .banner-text p{
        text-align: justify;
    }
    .online-payment .section-image
    {
        display: none;
    }
    .section-text
    {
        width: 80%;
        padding: 0 10px;
    }
    .section-text h3{
        font-size: 1.5rem;
       
    }
    
}